@my-font: 'Hammersmith One', sans-serif !important;
@main-color: #FFA100;
// #FF6C00 Orange

.navbar
{
  font-size: 15px;
  background-color: @main-color;
  height: 35px;
  .navbar-text
  {
    font-family: @my-font;
    color: #333333;
  }
}

#pres
{
  margin-top: 5vh;
}

section
{
  font-family: @my-font;
  line-height: 2.2;

  h1
  {
    font-family: @my-font;
    font-size: 46px;
    .text-center;
  }

  .text-muted
  {
    color: @main-color;
  }

  .lead
  {
    margin-top: 10px;
  }

  .fa
  {
    color: @main-color;
  }
}

h2
{
  font-family: @my-font;
}

#projects
{
  h2
  {
    font-family: @my-font;
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: rgba(25,25,25,0.5);
    position: relative;
    z-index: 10;
  }

  img
  {
    z-index: -1;
    position: relative;
    bottom: 55px;
  }
}

#contact
{
  #body
  {
    resize: vertical;
  }
  address
  {
    font-size: 25px;
  }
}