.background{
  background-color: cadetblue;
}

//Arrows
.control
{
  position: absolute;
  top: 50%;
  font-size: 150px;

//Text next to arrow
  p
  {
   font-size: 30px;
  }
}

#leftControl
{
  left: 0;
}

#rightControl
{
  right: 0;
}

.wrapper-index
{
  position: absolute;
  top: 20%;
  left: 20%;
}

.wrapper-me
{
  position: absolute;
  top: 30%;
  left: 50%;
}